* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
	background-color: #4b4b4b;
	/* background-image: url('../../shared/assets/Geeks_pattern_grey1.png'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
