.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  padding: 16px;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.modalContent {
  background-color: #393939;
  border-radius: 16px;
  width: 504px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  .title {
    margin-bottom: 35px;
    font-size: 28px;
  }
}
@media screen and (max-width: 510px) {
  .modalBackdrop {
    width: 100vw;
    height: auto;
    align-items: start;
  }
  .modalContent {
    width: 100%;
    margin-top: 30px;
  }
}
