.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;

  .inner {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

    @media screen and (max-width: 510px) {
      flex-direction: column-reverse;
      gap: 20px;
			padding: 0 20px;
    }
  }
}

.filter {
  width: 300px;

	@media screen and (max-width: 510px) {
		width: 100%;
	}

  select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
}
