.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: background 0.8s ease;
}

.blackBackground {
  background: black;
}

.imageBackground {
  background-image: url('../../shared/assets/GeeksBackground.png');
}

.auth {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 100px;
}

.imageContainer {
  position: absolute;
  top: 90px;
  width: 410px;
  height: 80px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.imageWithName {
  position: absolute;
  top: 320px;
  left: 177px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .KnightContainer {
    width: 244px;
    height: 244px;
    padding-bottom: 30px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .parallelogram {
    width: 449px;
    height: 80px;
    background-color: #f5d91f;
    transform: skew(-20deg);
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 48px;
      transform: skew(20deg);
    }
  }
}

.registration {
  position: absolute;
  top: 220px;
  right: 100px;
  width: 504px;
  height: 406px;
  background-color: #383b42;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 28px;
    color: white;
    margin: 50px 0 30px 0;
  }
  form {
    width: 350px;
    height: 240px;
    display: flex;
    flex-direction: column;
    input[type="submit"]{
      margin-top: 15px;
      background-color: #f5d91f;
      color: black;
      font-size: 16px;
    }
    label {
      margin-bottom: 8px;
      color: white;
      font-size: 16px;
    }
    input {
      background-color: #24262d;
      height: 48px;
      color: white;
      border: 0.01px solid darkgray;
      font-size: 16px;
      margin-bottom: 15px;
      padding-left: 16px;
      border-radius: 5px;
      &:focus {
        outline: none;
        border-color: transparent;
      }
    }
  }
}
