.cell {
	width: 86px;
	height: 86px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;

	.figure {
		width: 76px;
		height: 76px;
		position: relative;
	}

	.available {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: #fff193;
	}

	.coinLogo {
		width: 50px;
		height: 50px;
	}
}

.black {
	background: linear-gradient(to bottom, #868686, #000000);
}

.white {
	background: linear-gradient(to bottom, #ffffff, #d2d2d2);
}

.selected {
	border: 2px solid #f5d91f;
}

.takeFigure {
	background: linear-gradient(to bottom, #ffffff, #fffdad);
	border: 2px solid #f5d91f;
}
