.cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;

  .figure {
    width: 56px;
    height: 56px;
    position: relative;
  }

  .available {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff193;
  }

  .coinLogo {
    width: 40px;
    height: 40px;
  }
  @media screen and (max-width: 510px) {
    width: 44px;
    height: 44px;
    .figure {
      width: 38px;
      height: 38px;
    }
    .available {
      height: 18px;
      width: 18px;
    }
    .coinLogo {
      width: 26px;
      height: 26px;
    }
  }
}

.black {
  background: linear-gradient(to bottom, #868686, #000000);
}

.white {
  background: linear-gradient(to bottom, #ffffff, #d2d2d2);
}

.selected {
  border: 2px solid #f5d91f;
}

.takeFigure {
  background: linear-gradient(to bottom, #ffffff, #fffdad);
  border: 2px solid #f5d91f;
}
