.wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;

	.userName {
		align-self: flex-start;
		display: inline-block;
		width: auto;
		padding: 10px 14px;
		text-align: center;
		background-color: #212121;
		border-radius: 4px;
		color: #fff;
		font-weight: 500;
		line-height: 100%;
	}

	.board {
		width: calc(60px * 8);
		height: calc(60px * 8);
		display: flex;
		flex-wrap: wrap;
	}
}
