.container {
  height: 100%;
}
.imgContainer {
  width: 189px;
  position: relative;
  left: 50px;
  height: auto;
  padding-top: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.room {
  padding-top: 0;
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.customModal {
  width: 530px;
  height: 382px;
  padding: 24px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoContainer {
  width: 80px;
  height: 107px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: 12px;
}

.content {
  display: flex;
  align-items: center;
}

.geeks {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 16px;
  .name {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.rules {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  list-style: decimal;
  padding: 0;
  margin: 0 0 24px;
  text-align: left;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 10px 10px 5px 30px;
  li {
    margin-bottom: 5px;
    letter-spacing: 0;
    line-height: 1.3;
    font-size: 14px;
    color: #1b1b1b;
  }
}

.startButton {
  background-color: #f5d91f;
  color: #1b1b1b;
  padding: 10px 20px;
  border: none;
  flex: 1;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0b700;
  }
}
@media screen and (max-width: 510px) {
  .room {
    position: relative;
    top: 20px;
    width: 100vw;
    justify-content: center;
  }
  .imgContainer {
    width: 112px;
    height: auto;
    top: 0;
    left: 10px;
  }
  .customModal {
    width: 355px;
    height: 401px;
    position: relative;
    top: 125px;
  }
  .geeks {
    width: 50px;
    height: auto;
    .name {
      font-size: 14px;
    }
  }
  .logoContainer {
    height: 63px;
    width: 48px;
  }
  .rules {
    width: auto;
    height: 230px;
  }
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
}

.quit {
  flex: 1;
  padding: 12px;
  text-align: center;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
  cursor: pointer;
  color: #ffffff;
  background: none;
  outline: 1px solid #f5d91f;
}
