.container {
	width: 1440px;
	height: 100%;
	margin: 0 auto;
}
.imgContainer {
	width: 189px;
	height: auto;
	padding-top: 20px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.room {
	padding-top: 0;
	position: relative;
	bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.customModal {
	width: 504px;
	height: 382px;
	padding: 24px;
	color: white;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logoContainer {
	width: 80px;
	height: 107px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.title {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: white;
	margin-bottom: 12px;
}

.content {
	display: flex;
	align-items: center;
}

.geeks {
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	align-items: center;
	margin-bottom: 16px;
	.name {
		font-size: 24px;
		font-weight: 600;
		letter-spacing: 1px;
	}
}

.rules {
	list-style: none;
	padding: 0;
	margin: 0 0 24px;
	text-align: left;
	background-color: #ebebeb;
	border-radius: 15px;
	padding: 10px 10px 5px 10px;
	li {
		margin-bottom: 10px;
		line-height: 1.4;
		font-size: 14px;
		color: #1b1b1b;
	}
}

.startButton {
	background-color: #f5d91f;
	color: #1b1b1b;
	padding: 10px 20px;
	border: none;
	width: 100%;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	&:hover {
		background-color: #f0b700;
	}
}
