.tabsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}


.tabButton {
  flex: 1;
  display: inline-block;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #393939;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  width: 140px;
  z-index: 30;
  &:hover {
    background-color: #2e2e2e;
  }
  &:focus {
    background-color: #2e2e2e;
  }
}

.active {
  border-bottom: 2px solid yellow;
  color: white;
}

.tabContent {
  width: 100%;
}
